<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <script defer src="/js/productDetail/productDetail.js"></script>

    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">

    <link rel="stylesheet" th:href="@{/css/product/productDetail.css}">
    <link rel="stylesheet" th:href="@{/css/product/productReviewBoard.css}">
    <link rel="stylesheet" th:href="@{/css/product/productInquiryBoard.css}">
    <title>상품상세조회</title>
</head>
<body>
<div class="wrapper">
    <div class="header">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <div th:if="${response != null}">
                <div th:if="${response.success}">
                    <div th:with="product=${response}">
                        <input type="hidden" th:value="${product.id}" id="productId">
                        <h1 id="productName" th:text="${product.name}">상품명</h1>
                        <img id="productImage" th:src="@{${product.mainImgPath}}" th:alt="${product.mainImgName}"
                             class="product-image">
                        <p>원가격: <span id="productPrice" th:text="${product.price}">가격</span> 원</p>
                        <p>할인된 가격: <span id="discountedPrice" th:text="${product.discountedPrice}">할인된 가격</span> 원</p>
                        <p>할인율: <span id="discountRate" th:text="${product.discount}">할인율</span>%</p>
                        <p>재고: <span id="productAmount" class="productAmount" th:text="${product.amount}">재고</span> 개
                        </p>
                        <p>카테고리: <span id="majorCategory" th:text="${product.majorCategory}">대분류</span> / <span
                                id="middleCategory" th:text="${product.middleCategory}">중분류</span></p>
                        <p>설명: <span id="productContent" th:text="${product.content}">상품 설명</span></p>
                        <p>리뷰 수: <span id="reviewCount" th:text="${product.reviewCount}">리뷰 수</span></p>
                        <p>평균 평점: <span id="averageRating" th:text="${product.averageRating}">평균 평점</span></p>


                        <div class="product-container">
                            <ul>
                                <li>
                                    <span th:text="${product.name}">상품명</span>
                                    <div>
                                        <a href="#" class="down">
                                            <img src="/img/minus.svg" alt="수량감소">
                                        </a>
                                        <label for="quantity"></label>
                                        <input id="quantity" type="text" th:value="${1}">
                                        <a href="#" class="up">
                                            <img src="/img/plus.svg" alt="수량증가">
                                        </a>
                                        <strong>
                                            <span th:text="${product.discountedPrice}">상품 할인된 가격</span>원
                                        </strong>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="total-container">
                            <span>총 상품 금액</span>
                            <strong id="totalPrice" th:text="${product.discountedPrice}">총 상품 금액</strong>
                            <span>원</span>
                        </div>
                        <div class="button-container">
                            <button class="wishBtn">찜하기</button>
                            <button class="cartBtn">장바구니</button>
                            <button class="buyNowBtn">바로구매</button>
                        </div>
                        <div th:if="${!response.success}">
                            <p>상품 정보를 불러오는 데 실패했습니다. 다시 시도해 주세요.</p>
                        </div>
                    </div>
                    <div th:if="${response == null}">
                        <p>서버로의 요청에 실패했습니다.</p>
                    </div>
                </div>
            </div>
        </section>
        <form id="productForm" action="/order" method="post">
            <input type="hidden" name="name" value="">
            <input type="hidden" name="mainImgPath" value="">
            <input type="hidden" name="mainImgName" value="">
            <input type="hidden" name="price" value="">
            <input type="hidden" name="discountedPrice" value="">
            <input type="hidden" name="discount" value="">
            <input type="hidden" name="amount" value="">
            <input type="hidden" name="totalPrice" value="">
            <input type="hidden" name="productUrl" value="">
        </form>
        <section class="second-section">
            <div class="review-list">
                <h2>리뷰 목록</h2>
                <table class="review-table">
                    <thead>
                    <tr>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>별점</th>
                        <th>작성일</th>
                        <th>수정일</th>
                    </tr>
                    </thead>
                    <tbody id="review-list">
                    <!-- 리뷰 목록을 동적으로 채웁니다. -->
                    </tbody>
                </table>
                <!-- 페이징 -->
                <div class="pagination" id="pagination">
                    <!--                    <button onclick="loadReviews(currentPage - 1)">Prev</button>-->
                    <!--                    <button onclick="loadReviews(currentPage + 1)">Next</button>-->
                </div>
            </div>
        </section>
        <script defer th:src="@{/js/productDetail/productReviewProcess.js}"></script>
        <script defer th:src="@{/js/productDetail/toggleReviewContentProcess.js}"></script>

        <section class="third-section">
            <div class="productInquiry-list">
                <h2>상품문의 목록</h2>
                <table class="productInquiry-table">
                    <thead>
                    <tr>
                        <th>작성자</th>
                        <th>잠금</th>
                        <th>제목</th>
                        <th>작성일</th>
                        <th>수정일</th>
                    </tr>
                    </thead>
                    <tbody id="productInquiry-list">
                    <!-- 상품문의 목록을 동적으로 채웁니다. -->
                    </tbody>
                </table>
                <!-- 페이징 -->
                <div class="pagination" id="pagination2">
                    <!--                    <button onclick="loadReviews(currentPage - 1)">Prev</button>-->
                    <!--                    <button onclick="loadReviews(currentPage + 1)">Next</button>-->
                </div>
            </div>
        </section>
        <script defer th:src="@{/js/productDetail/productInquiryProcess.js}"></script>
        <script defer th:src="@{/js/productDetail/toggleInquiryContentProcess.js}"></script>
    </div>
    <div class="footer">
        <!-- Footer content -->
    </div>
</div>
</body>
</html>
