<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Products</title>
    <script defer th:src="@{/js/productList/searchFormOnchange.js}"></script>
    <link rel="stylesheet" th:href="@{/css/productList/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">
</head>
<body>
    <div class="wrapper">
        <div class="header">
            <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
            <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
        </div>
        <div class="main">
            <section class="first-section">
                <div class="container">
                    <h1 th:if="${criteria.middleCategory == null or criteria.middleCategory == ''}">
                        <span th:if="${criteria.majorCategory != null and criteria.majorCategory != ''}" th:text="${criteria.majorCategory}"></span>
                        <span th:if="${criteria.majorCategory == null or criteria.majorCategory == ''}">통합 검색</span>
                    </h1>
                    <h1 th:if="${criteria.middleCategory != null and criteria.middleCategory != ''}" th:text="${criteria.middleCategory}"></h1>

                    <!-- 검색 폼 -->
                    <form action="/productList" method="GET" id="searchForm">
                        <div class="form-group">
                            <label for="sorting">정렬 방식:</label>
                            <select id="sorting" name="sorting" onchange="submitFormOnChange()">
                                <option value="기본정렬" th:selected="${criteria.sorting == '기본정렬'}">기본정렬</option>
                                <option value="가격 오름차순" th:selected="${criteria.sorting == '가격 오름차순'}">가격 오름차순</option>
                                <option value="가격 내림차순" th:selected="${criteria.sorting == '가격 내림차순'}">가격 내림차순</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="keyword">검색: </label>
                            <input type="text" id="keyword" name="keyword" th:attr="value=${criteria.keyword ?: ''}">
                        </div>
                        <div class="form-hidden" style="display: none;">
                            <input type="hidden" name="majorCategory" th:value="${criteria.majorCategory != null ? criteria.majorCategory : ''}">
                            <input type="hidden" name="middleCategory" th:value="${criteria.middleCategory != null ? criteria.middleCategory : ''}">
                        </div>
                        <button type="submit">검색</button>
                    </form>

                    <!-- 상품 목록 -->
                    <div class="product-list">
                        <h2>상품 목록</h2>
                        <table>
                            <thead>
                            <tr>
                                <th>상품명</th>
                                <th>가격</th>
                                <th>할인률</th>
                                <th>할인된 가격</th>
                                <th>대분류</th>
                                <th>소분류</th>
                                <th>리뷰 수</th>
                                <th>평점</th>
                            </tr>
                            </thead>
                            <tbody>
                            <!-- 상품 목록을 동적으로 채웁니다. -->
                            <tr th:each="product : ${list}">
                                <td th:text="${product.get('name') != null ? product.name : ''}">-</td>
                                <td th:text="${product.get('price') != null ? product.price : ''}">-</td>
                                <td th:text="${product.get('discount') != null ? product.discount + '%' : ''}">-</td>
                                <td th:text="${product.get('discountedPrice') != null ? product.discountedPrice : ''}">-</td>
                                <td th:text="${product.get('majorCategory') != null ? product.majorCategory : ''}">-</td>
                                <td th:text="${product.get('middleCategory') != null ? product.middleCategory : ''}">-</td>
                                <td th:text="${product.get('reviewCount') != null ? product.reviewCount : ''}">-</td>
                                <td th:text="${product.get('averageRating') != null ? #numbers.formatDecimal(product.get('averageRating'), 1, 1) : '0'}">-</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <!-- 페이징 -->
                    <div class="pagination">
                        <ul>
                            <!-- 이전 페이지로 이동하는 링크 -->
                            <li th:if="${pageDto.prev}">
                                <a th:href="@{${'/productList?pageno=' + (criteria.pageno - 1) +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.majorCategory != null ? '&majorCategory=' + criteria.majorCategory : '') +
                    (criteria.middleCategory != null ? '&middleCategory=' + criteria.middleCategory : '') +
                    (criteria.sorting != null ? '&sorting=' + criteria.sorting : '')}}">Prev</a>
                            </li>

                            <!-- 페이지 번호를 표시하는 링크 -->
                            <li th:each="pageNumber : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}" th:classappend="${pageNumber == criteria.pageno} ? 'active'">
                                <a th:href="@{${'/productList?pageno=' + pageNumber +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.majorCategory != null ? '&majorCategory=' + criteria.majorCategory : '') +
                    (criteria.middleCategory != null ? '&middleCategory=' + criteria.middleCategory : '') +
                    (criteria.sorting != null ? '&sorting=' + criteria.sorting : '')}}">[[${pageNumber}]]</a>
                            </li>

                            <!-- 다음 페이지로 이동하는 링크 -->
                            <li th:if="${pageDto.next}">
                                <a th:href="@{${'/productList?pageno=' + (criteria.pageno + 1) +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.majorCategory != null ? '&majorCategory=' + criteria.majorCategory : '') +
                    (criteria.middleCategory != null ? '&middleCategory=' + criteria.middleCategory : '') +
                    (criteria.sorting != null ? '&sorting=' + criteria.sorting : '')}}">Next</a>
                            </li>
                        </ul>
                    </div>

                    <!-- 에러 메시지 -->
                    <div th:if="${!success}" class="error-message">
                        <p>상품 리스트 조회에 실패하였습니다.</p>
                    </div>
                </div>
            </section>
        </div>
        <div class="footer">

        </div>

    </div>
</body>
</html>
