a {
    text-decoration: none; /* 밑줄 제거 */
    color: inherit; /* 기본 텍스트 색상 상속 */
    margin: 0; /* 기본 마진 제거 */
    padding: 0; /* 기본 패딩 제거 */
    border: none; /* 기본 테두리 제거 */
    background: none; /* 기본 배경 제거 */
}

.product-img {
    border-radius: 5px;
}

a:hover {
    color: inherit;
}

a, abbr, acronym, address, applet, article, aside, audio, b, big, blockquote, body, canvas, caption, center, cite, code, dd, del, details, dfn, div, dl, dt, em, embed, fieldset, figcaption, figure, footer, form, h1, h2, h3, h4, h5, h6, header, hgroup, html, i, iframe, img, ins, kbd, label, legend, li, main, mark, menu, nav, object, ol, output, p, pre, q, ruby, s, samp, section, small, span, strike, strong, sub, summary, sup, table, tbody, td, tfoot, th, thead, time, tr, tt, u, ul, var, video {
    vertical-align: middle;
}

.main-table {
    width: 1200px;
    margin: 0 auto; /* 가운데 정렬 */
    margin-top: 60px;
    background-color: #f9f9f9; /* 테이블 배경색 (연한 회색) */
    border-top: 3px solid #000; /* 맨 위 테두리 */
    border-bottom: 3px solid #000; /* 맨 아래 테두리 */
    border-collapse:collapse; /* 테이블 선 제거 */
}

table th, table td {
    height: 70px; /* 나머지 셀 높이 */
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #ddd; /* 셀 하단 경계선 (연한 회색) */
}

.table-tr {
    border-bottom: 1px solid #ddd;
    background-color: #f2f2f2;
    color: #000;
}

.table-header> .table-tr > th {
    height: 60px; /* 헤더 셀 높이 */
    border: inherit;
}

.amount_value {
    text-align: center;
    width: 40px;
    height: 30px;
}

.wish-btn {
    margin: 5px;
    width: 80px;
    display: inline-block;
    padding: 8px 12px;
    background-color: #4a4a4a;
    color: white;
    text-decoration: none;
    border: none;
    cursor: pointer;
}

.delete_cart_btn {
    margin: 5px;
    width: 80px;
    display: inline-block;
    padding: 8px 12px;
    background-color: white;
    color: #4a4a4a;
    text-decoration: none;
    cursor: pointer;
    border: 1px solid;
}

.wish-btn:hover{
    background-color: #343a40;
    color: white;
}

.delete_cart_btn:hover {
    color: #cc0000;
}
.last-tr {
    background-color: #f4f2f1;
}

#total-price {

 font-weight: bold;
}

.btn-tag {
    display: flex;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
}

/* 공통 버튼 스타일 */
.order_select_product {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: white;
    background-color: #4CAF50; /* 버튼 배경색 (녹색) */
    border: none;
    cursor: pointer;
    width: 200px;
    height: 60px;
    line-height: 30px;
}
.again-shopping {
    display: inline-block;
    padding: 15px 30px;
    margin: 10px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    color: black;
    background-color: white; /* 버튼 배경색 (녹색) */
    border: 1px solid;
    cursor: pointer;
    width: 200px;
    height: 60px;
    line-height: 30px;
}

    /* 호버 상태 스타일 */
.order_select_product:hover {
    background-color: #45a049; /* 호버 시 배경색 (진한 녹색) */
    color: white;
}

.h2 {
    margin-top: 100px;
    text-align: center;
}

.amount-changer {
    display: flex;
    align-items: center; /* 수직 중앙 정렬 */
    justify-content: center; /* 수평 중앙 정렬 */
}

.amount-changer img {
    padding: 5px;
    width: 24px; /* 이미지 너비 조정 */
    height: 24px; /* 이미지 높이 조정 */
}


