.main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.first-section {
    margin-bottom: 20px;
}

.first-section p, .first-section span, .first-section textarea, .first-section button, .first-section input[type="file"], .first-section select {
    display: block;
    margin-bottom: 15px;
    font-size: 16px;
}

.first-section p a {
    text-decoration: none;
    color: #007bff;
}

.first-section span {
    margin-bottom: 10px;
}

.first-section input[type="text"], .first-section textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.first-section input[type="file"], .first-section select {
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

.first-section .button-container {
    text-align: left; /* 버튼을 왼쪽으로 정렬 */
}

.first-section button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#submit {
    background-color: #007bff;
}

#submit:hover {
    background-color: #0056b3;
}

.delete-btn {
    background-color: #ff0000;
}

.delete-btn:hover {
    background-color: #cc0000;
}

.review-image {
    max-width: 100%;
    height: auto;
    margin-bottom: 15px;
}

.error-message {
    background-color: #f8d7da;
    color: #721c24;
    border: 1px solid #f5c6cb;
    padding: 15px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.error-message p {
    margin: 0;
}

/* 평점 선택 박스 스타일링 */
.first-section select {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}
