<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/admin/addProduct.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">

    <script defer th:src="@{/js/admin/addProduct.js}"></script>

    <title>제품 등록</title>
</head>
<body>
<header>
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</header>
<main>
    <h1>제품 등록</h1>
    <div class="admin-container">
        <div class="admin-container-left">
            메뉴
        </div>
        <div class="admin-container-right">
            <form id="addProductForm">
                <div class="product-image">
                    <div class="main-image">
                        <p>메인 이미지 등록</p>
                        <div class="upload-box" id="mainUploadBox">
                            <div class="plus">+</div>
                        </div>
                        <p>메인 이미지 프리뷰</p>
                        <div class="preview" id="mainPreview">

                        </div>
                    </div>
                    <div class="sub-image">
                        <p>서브 이미지 등록</p>
                        <div class="upload-box" id="subUploadBox">
                            <div class="plus">+</div>
                        </div>
                        <p>서브 이미지 프리뷰</p>
                        <div class="preview" id="subPreview">

                        </div>
                    </div>
                </div>
                <div class="product-info">
                    <div>
                        <label for="name">제품명</label>
                        <input type="text" name="name" id="name" placeholder="제품명">
                    </div>
                    <div>
                        <label for="price">가격</label>
                        <input type="text" name="price" id="price" placeholder="가격">
                    </div>
                    <div>
                        <label for="amount">수량</label>
                        <input type="text" name="amount" id="amount" placeholder="수량">
                    </div>
                    <div>
                        <label for="discount">할인율</label>
                        <input type="text" name="discount" id="discount" placeholder="할인율 (% 제외)">
                    </div>
                    <div>
                        <label for="majorCategory">메인 카테고리</label>
                        <input type="text" id="majorCategory" name="majorCategory" placeholder="메인 카테고리">
                        <select id="majorCategorySelect" onChange="changeCategorySelect(this)">
                            <th:block th:each="productMajorCategory : ${productMajorCategoryList}">
                                <option th:value="${productMajorCategory}" th:text="${productMajorCategory}"></option>
                            </th:block>
                            <option value="direct-input">직접 입력</option>
                        </select>
                    </div>
                    <div>
                        <label for="middleCategory">서브 카테고리</label>
                        <input type="text" id="middleCategory" name="middleCategory" placeholder="서브 카테고리">
                        <select id="middleCategorySelect" onChange="changeCategorySelect(this)">
                            <th:block th:each="productMiddleCategory : ${productMiddleCategoryList}">
                                <option th:value="${productMiddleCategory}" th:text="${productMiddleCategory}"></option>
                            </th:block>
                            <option value="direct-input">직접 입력</option>
                        </select>
                    </div>
                    <div>
                        <label for="content">제품 설명</label>
                        <textarea rows="10" cols="75" id="content" name="content" placeholder="제품 설명 (이미지 주소를 개행으로 구분하여 입력)"></textarea>
                    </div>
                </div>

                <button>등록</button>
            </form>
        </div>
    </div>
</main>
<footer>
    <p class="text">푸터(사이트 정보 등)</p>
</footer>
</body>
</html>