<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
    <link rel="stylesheet" th:href="@{/css/admin/addProduct.css}">

    <title>제품 등록</title>
</head>
<body>
<header>
    <p class="text">헤더(메뉴, 로그인, 회원가입 등)</p>
</header>
<main>
    <h1>제품 등록</h1>
    <div class="admin-container">
        <div class="admin-container-left">
            메뉴
        </div>
        <div class="admin-container-right">
            <form id="addProductForm">
                <div class="add-product-form-left">
                    이미지 등록 박스
                </div>
                <div class="add-product-form-right">
                    <div>
                        <label for="product">제품명</label>
                        <input type="text" name="product" id="product" placeholder="제품명">
                    </div>
                    <div>
                        <label for="price">가격</label>
                        <input type="text" name="price" id="price" placeholder="가격">
                    </div>
                    <div>
                        <label for="amount">수량</label>
                        <input type="text" name="amount" id="amount" placeholder="수량">
                    </div>
                    <div>
                        <label for="discount">할인율</label>
                        <input type="text" name="discount" id="discount" placeholder="할인율 (% 제외)">
                    </div>
                    <div>
                        <label for="majorCategory">
                            <select name="" id="majorCategory">
                                <option value=""></option>
                            </select>
                        </label>
                    </div>
                </div>
            </form>
        </div>
    </div>
</main>
<footer>
    <p class="text">푸터(사이트 정보 등)</p>
</footer>
</body>
</html>