<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>관리자 페이지</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/fragments/admin/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/admin/mainDetail.css}">

</head>
<body>
<div class="header layout-5">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</div>
<div class="main">
    <section class="first-seciton">
        <h1>관리자 페이지</h1>
    </section>
    <section class="second-section box1">
        <th:block th:insert="~{fragments/admin/mainMenu.html :: mainManu_fragment}"></th:block>

        <div class="box w-full h-800">
            관리자 페이지에 필요한 기능들 추가바람.
        </div>
    </section>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>