<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/admin/modifyProduct.css}">

    <script defer th:src="@{/js/admin/modifyProduct.js}"></script>

    <title>상품 수정</title>
</head>
<body>

<header id="header">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</header>

<main class="admin-main">
    <th:block th:insert="~{fragments/admin/mainMenu.html :: mainManu_fragment}"></th:block>

    <div class="admin-menu-detail-container">
        <h1>상품 수정</h1>
        <div class="product-image">
            <div class="container">
                <h2>메인 이미지 등록</h2>
                <div class="horizontal">
                    <div class="upload-box" id="mainUploadBox">
                        <div class="upload-box-text">
                            <div class="plus">+</div>
                            <span>이미지를 드래그하세요!</span>
                        </div>
                    </div>
                    <div class="flex-1">
                        <div class="preview" id="mainPreview">
                            <li class="item">
                                <img id="mainImg" th:data-name="${product.mainImgName}"
                                     th:src="@{${product.mainImgPath} + ${product.mainImgName}}" alt="">
                                <button type="button" class="delete-btn">삭제</button>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <h2>서브 이미지 등록</h2>


                <div class="horizontal">
                    <div class="upload-box" id="subUploadBox">
                        <div class="upload-box-text">
                            <div class="plus">+</div>
                            <span>이미지를 드래그하세요!</span>
                        </div>
                    </div>

                    <div class="flex-1">
                        <div class="preview" id="subPreview">
                            <li class="item">
                                <img id="subImg" th:data-name="${product.subImgName}"
                                     th:src="@{${product.subImgPath} + ${product.subImgName}}" alt="">
                                <button type="button" class="delete-btn">삭제</button>
                            </li>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <form id="modifyProductForm" class="admin-product-form">
            <h2>상품 정보</h2>
            <input type="hidden" name="id" th:value="${product.id}">
            <div class="product-info-container">
                <div>
                    <label for="name">제품명</label>
                    <input class="common-input" type="text" name="name" id="name" th:value="${product.name}" placeholder="제품명">
                </div>
                <div>
                    <label for="price">가격</label>
                    <input class="common-input" type="text" name="price" id="price" th:value="${product.price}" placeholder="가격">
                </div>
                <div>
                    <label for="amount">수량</label>
                    <input class="common-input" type="text" name="amount" id="amount" th:value="${product.amount}" placeholder="수량">
                </div>
                <div>
                    <label for="discount">할인율</label>
                    <input class="common-input" type="text" name="discount" id="discount" th:value="${product.discount}"
                           placeholder="할인율 (% 제외)">
                </div>
                <div>
                    <label for="majorCategory">메인 카테고리</label>
                    <input class="common-input" type="text" id="majorCategory" name="majorCategory" th:value="${product.majorCategory}"
                           placeholder="메인 카테고리">
                    <select class="common-input" id="majorCategorySelect">
                        <th:block th:each="majorCategory : ${majorCategoryList}">
                            <option th:selected="${product.majorCategory == majorCategory}" th:value="${majorCategory}"
                                    th:text="${majorCategory}"></option>
                        </th:block>
                    </select>
                </div>
                <div>
                    <label for="middleCategory">서브 카테고리</label>
                    <input class="common-input" type="text" id="middleCategory" name="middleCategory" th:value="${product.middleCategory}"
                           placeholder="서브 카테고리">
                    <select class="common-input" th:value="${product.middleCategory}" id="middleCategorySelect">
                        <th:block th:each="middleCategory : ${middleCategoryList}">
                            <option th:selected="${product.middleCategory == middleCategory.name}"
                                    th:attr="data-major-category-name=${middleCategory.majorCategoryName}"
                                    th:value="${middleCategory.name}" th:text="${middleCategory.name}"></option>
                        </th:block>
                    </select>
                </div>
                <div class="product-content-container">
                    <label for="content">제품 설명</label>
                    <textarea class="common-input" th:text="${product.content}" rows="10" cols="75" id="content" name="content"
                              placeholder="제품 설명"></textarea>
                </div>
            </div>
            <button>등록</button>
        </form>
    </div>

</main>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>