<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/myPage/editAddress.css}">

    <script defer th:src="@{/js/myPage/editAddress.js}"></script>

    <title>마이리뷰페이지</title>

</head>
<body>

<header id="header">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</header>

<main class="my-page-main">
    <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>

    <div class="my-page-menu-detail-container">
        <h1>배송지 등록/수정</h1>
        <div class="container">
            <form id="editAddressForm">
                <div>
                    <label for="name">이름</label>
                    <input class="common-input" type="text" id="name" name="name"
                           th:value="${shippingAddress != null ? shippingAddress.name : ''}" placeholder="이름">
                </div>
                <div>
                    <label for="zipcode">우편번호</label>
                    <span class="horizontal">
                        <input class="common-input" type="text" id="zipcode" name="zipcode"
                               th:value="${shippingAddress != null ? shippingAddress.zipcode : ''}" placeholder="우편번호">
                        <button type="button" id="searchAddressBtn">
                        우편번호 찾기
                        </button>
                    </span>
                </div>

                <div>
                    <label for="streetAdr">주소</label>
                    <input class="common-input" type="text" id="streetAdr" name="streetAdr"
                           th:value="${shippingAddress != null ? shippingAddress.streetAdr : ''}" placeholder="주소">
                    <span class="streetAdrError"></span>
                </div>

                <div>
                    <label for="detailAdr">상세 주소</label>
                    <input class="common-input" type="text" id="detailAdr" name="detailAdr"
                           th:value="${shippingAddress != null ? shippingAddress.detailAdr : ''}" placeholder="상세 주소">
                </div>

                <div>
                    <label for="phone">휴대폰 번호</label>
                    <input class="common-input" type="text" id="phone" name="phone" oninput="PhoneRegex(this)"
                           placeholder="000-000-0000 또는 000-0000-0000"
                           th:value="${shippingAddress != null ? shippingAddress.phone : ''}">
                </div>
                <div class="button-container">
                    <button>저장</button>
                </div>
            </form>
        </div>
    </div>
</main>

<footer id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</footer>

</body>
</html>