<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지</title>

    <link rel="stylesheet" th:href="@{/css/myPage/common.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/mainDetail.css}">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
</head>
<body>
<div class="header">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</div>
<div class="main">
    <section class="first-seciton">
        <h1>마이페이지</h1>
    </section>
    <section class="second-section box1">
        <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>

        <div class="box w-full h-800">
            <div class="shopping-title">
                <span sec:authentication="name"></span>
                <span>님 환영합니다.</span>
            </div>
            <div class="my-shopping container">
                <div class="section-shop order">
                    <p>주문건수</p>
                    <p>미구현</p>
                </div>
                <div class="section-shop delivery">
                    <p>배송중</p>
                    <p>미구현</p>
                </div>
                <div class="section-shop delivery-done">
                    <p>배송완료</p>
                    <p>미구현</p>
                </div>
            </div>
        </div>
    </section>
</div>
<div class="footer">
    <p class="text">푸터(사이트 정보 등)</p>
</div>
</body>
</html>