<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이리뷰페이지</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/productReviewBoardList/common.css}">

    <link rel="stylesheet" th:href="@{/css/myPage/common.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/mainDetail.css}">

</head>
<body>

<header id="header">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</header>

<div class="my-page-main">
    <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>

    <div class="my-page-menu-detail-container">
        <h1>나의 리뷰</h1>
        <div class="container">
            <!-- 검색 폼 -->
            <form action="/myProductReviewBoardList" method="GET" id="searchForm">
                <div class="form-group">
                    <label for="searchType">태그:</label>
                    <select id="searchType" name="type">
                        <option value="title"
                                th:selected="${criteria.type == null || criteria.type == '' || criteria.type == 'keyword'}">
                            제목
                        </option>
                        <option value="pId" th:selected="${criteria.type == 'pId'}">상품 ID</option>
                        <option value="productName" th:selected="${criteria.type == 'productName'}">상품명</option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="keyword">게시글 검색: </label>
                    <input type="text" id="keyword" name="keyword" th:attr="value=${criteria.keyword ?: ''}">
                </div>
                <button type="submit">검색</button>
            </form>

            <!-- 상품리뷰 게시글 목록 -->
            <div class="myProductReviewBoard-list">
                <table class="table-container">
                    <thead>
                    <tr>
                        <th>번호</th>
                        <th>작성자</th>
                        <th>제목</th>
                        <th>등록일</th>
                        <th>수정일</th>
                        <th>평점</th>
                    </tr>
                    </thead>
                    <tbody>
                    <!-- 게시글 목록을 동적으로 채웁니다. -->
                    <tr th:each="board : ${list}">
                        <td th:text="${board.get('id') != null ? board.id : ''}">-</td>
                        <td th:text="${board.get('Uid') != null ? board.Uid : ''}">-</td>
                        <td>
                            <a th:href="@{${'/productReviewBoard?id=' + (board.id)}}">
                                <span class="product-name"
                                      th:text="${board.get('productName') != null ? board.productName : ''}">-</span>
                                <span class="post-title"
                                      th:text="${board.get('title') != null ? board.title : ''}">-</span>
                            </a>
                        </td>
                        <td th:text="${board.get('regDate') != null ? board.regDate : ''}">-</td>
                        <td th:text="${board.get('updateDate') != null ? board.updateDate : ''}">-</td>
                        <td th:text="${board.get('rating') != null ? board.rating : ''}">-</td>
                    </tr>
                    </tbody>
                </table>
            </div>

            <!-- 페이징 -->
            <div class="pagination">
                <ul>
                    <!-- 이전 페이지로 이동하는 링크 -->
                    <li th:if="${pageDto.prev}">
                        <a th:href="@{${'/myProductReviewBoardList?pageno=' + (criteria.pageno - 1) +
                    (criteria.amount != null ? '&amount=' + criteria.amount : '') +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.type != null ? '&type=' + criteria.type : '')}}">Prev</a>
                    </li>

                    <!-- 페이지 번호를 표시하는 링크 -->
                    <li th:each="pageNumber : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}"
                        th:classappend="${pageNumber == criteria.pageno} ? 'active'">
                        <a th:href="@{${'/myProductReviewBoardList?pageno=' + pageNumber +
                    (criteria.amount != null ? '&amount=' + criteria.amount : '') +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.type != null ? '&type=' + criteria.type : '')}}">[[${pageNumber}]]</a>
                    </li>

                    <!-- 다음 페이지로 이동하는 링크 -->
                    <li th:if="${pageDto.next}">
                        <a th:href="@{${'/myProductReviewBoardList?pageno=' + (criteria.pageno + 1) +
                    (criteria.amount != null ? '&amount=' + criteria.amount : '') +
                    (criteria.keyword != null ? '&keyword=' + criteria.keyword : '') +
                    (criteria.type != null ? '&type=' + criteria.type : '')}}">Next</a>
                    </li>
                </ul>
            </div>

            <!-- 에러 메시지 -->
            <div th:if="${!success}" class="error-message">
                <p>상품리뷰 게시글 조회에 실패하였습니다.</p>
            </div>
        </div>

    </div>
</div>

<footer id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</footer>

</body>
</html>