<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- js -->
    <script defer th:src="@{/js/myPage/passwordCheckForm.js}"></script>

    <!-- myPage css -->
    <link rel="stylesheet" th:href="@{/css/myPage/common.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/mainDetail.css}">

    <!-- passwordCheckForm.css -->
    <link rel="stylesheet" th:href="@{/css/myPage/passwordCheckForm.css}">
    <meta charset="UTF-8">
    <title>비밀번호 재확인</title>
</head>
<body>
<div class="header layout-5">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</div>
<div class="main">
    <section class="first-seciton">
        <h1>비밀번호 재확인</h1>
    </section>
    <section class="second-section box1">
        <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>
        <div class="box w-full h-800">
            <div class="contentWrapper">
                <div class="repassWordContent">
<!--                    <h2><img src="/images/d3/modern_simple/tit_reconfirm_passwd2.gif" alt="비밀번호 재확인"></h2>-->
                    <p class="txt">저희 쇼핑몰에서는 회원님의 소중한 개인정보를 안전하게 보호하고<br>개인정보 도용으로 인한 피해를 예방하기 위하여 비밀번호를 확인합니다.<br>비밀번호는
                        타인에게
                        노출되지
                        않도록 주의해주세요.</p>
                    <form id="password-form" method="post">
                        <table class="password-chk">
                            <tbody class="tbody">
                            <tr>
                                <th>아이디</th>
                                <td><input class="id" type="text" name="id" th:value="${userDto.id}" readonly/></td>
                            </tr>
                            <tr>
                                <th>비밀번호</th>
                                <td><input class="password" type="password" name="password"/></td>
                            </tr>
                            <input type="hidden" id="tmp" th:value="${tmp != null ? tmp : ''}">
                            </tbody>
                        </table>
                        <div id="btn">
                            <button class="passwordCheckBtn">확인></button>
                            <a class="cancel" href="/myPage">취소></a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>