<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
    <!-- js -->
    <script defer src="/js/myPage/passwordCheckForm.js"></script>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 재확인</h1>
<form method="post">
    <table>
        <tr>
            <th>아이디</th>
            <td><input class="id" type="text" name="id" th:value="${userDto.id}" readonly /></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input class="password" type="password" name="password"/></td>
        </tr>
        <input type="hidden" id="tmp" th:value="${tmp != null ? tmp : ''}">
    </table>
    <button class="passwordCheckBtn">확인</button>
</form>
</body>
</html>