<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>마이페이지 - 결제 목록 게시판 조회</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/myPage/common.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/mainDetail.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/paymentList.css}">

    <!-- fragments css -->
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">
</head>
<body>
<div class="header">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</div>
<div class="main">
    <section class="first-section">
        <h1>마이 페이지</h1>
    </section>
    <section class="second-section box1">
        <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>

        <div class="box w-full h-800">
            <div class="shopping-title">
                <h4>결제 목록 게시판</h4>
            </div>
            <div class="container" style="width: 95%;">
                <!-- 결제 목록 -->
                <div class="payment-list">
                    <h2>결제 목록</h2>
                    <table>
                        <thead>
                        <tr>
                            <th>등록날짜</th>
                            <th>결제 이름</th>
                            <th>결제 금액</th>
                            <th>배송 상태</th>
                            <th>환불 요청</th>
                        </tr>
                        </thead>
                        <tbody>
                        <!-- 결제 목록을 동적으로 채웁니다. -->
                        <tr th:each="payment : ${list}">
                            <td th:text="${payment.regDate}">-</td>
                            <td th:text="${payment.name}">-</td>
                            <td th:text="${payment.paid_amount}">-</td>
                            <td th:text="${payment.delivery_status}" class="delivery-status">-</td>
                            <td><button class="refund-request-btn" th:attr="data-id=${payment.id}">환불요청</button></td>
                        </tr>
                        </tbody>
                    </table>
                </div>
                <script defer th:src="@{/js/myPage/refundBtnProcess.js}"></script>

                <!-- 페이징 -->
                <div class="pagination">
                    <ul>
                        <!-- 이전 페이지로 이동하는 링크 -->
                        <li th:if="${pageDto.prev}">
                            <a th:href="@{${'/myPage/paymentList?pageno=' + (criteria.pageno - 1)}}">Prev</a>
                        </li>

                        <!-- 페이지 번호를 표시하는 링크 -->
                        <li th:each="pageNumber : ${#numbers.sequence(pageDto.startPage, pageDto.endPage)}" th:classappend="${pageNumber == criteria.pageno} ? 'active'">
                            <a th:href="@{${'/myPage/paymentList?pageno=' + pageNumber}}">[[${pageNumber}]]</a>
                        </li>

                        <!-- 다음 페이지로 이동하는 링크 -->
                        <li th:if="${pageDto.next}">
                            <a th:href="@{${'/myPage/paymentList?pageno=' + (criteria.pageno + 1)}}">Next</a>
                        </li>
                    </ul>
                </div>

                <!-- 에러 메시지 -->
                <div th:if="${!success}" class="error-message">
                    <p>결제 목록 조회에 실패하였습니다.</p>
                </div>

            </div>
        </div>
    </section>
</div>
<div class="footer">
    <p class="text">푸터(사이트 정보 등)</p>
</div>
</body>
</html>
