<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
    <!-- js -->
    <script defer src="/js/myPage/paymentForm.js"></script>
    <!-- 포트원 -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
</head>
<body>
<form id="form" action="/myPage/paymentSearchForm" method="get">
    <input type="hidden" name="name" class="name" />
    <input type="hidden" name="amount" class="amount">
    <input type="hidden" name="pay_method" class="pay_method">
    <input type="hidden" name="pg_type" class="pg_type">
    <input type="hidden" name="status" class="status">
    <input type="hidden" name="paid_At" class="paid_At">
</form>

<button class="pay_btn">결제하기</button>
</body>
</html>