<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- myPage css -->
    <link rel="stylesheet" th:href="@{/css/myPage/common.css}">
    <link rel="stylesheet" th:href="@{/css/myPage/mainDetail.css}">

    <!-- passwordCheckForm.css -->
    <link rel="stylesheet" th:href="@{/css/myPage/searchForm.css}">
    <meta charset="UTF-8">
    <title>회원 정보 조회</title>
</head>
<body>
<div class="header layout-5">
    <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
    <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
</div>
<div class="main">
    <section class="first-seciton">
        <h1>회원정보 조회</h1>
    </section>
    <section class="second-section box1">
        <th:block th:insert="~{fragments/myPage/mainMenu.html :: mainManu_fragment}"></th:block>
        <div class="box w-full h-800">
            <table>
                <tr>
                    <th>아이디</th>
                    <td th:text="${userDto.id}"></td>
                </tr>
                <tr>
                    <th>이름</th>
                    <td th:text="${userDto.name}"></td>
                </tr>
                <tr>
                    <th>우편번호</th>
                    <td th:text="${userDto.zipcode}"></td>
                </tr>
                <tr>
                    <th>주소</th>
                    <td th:text="${userDto.streetAdr}"></td>
                </tr>
                <tr>
                    <th>상세주소</th>
                    <td th:text="${userDto.detailAdr}"></td>
                </tr>
                <tr>
                    <th>연락처</th>
                    <td th:text="${userDto.phone}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td th:text="${userDto.email}"></td>
                </tr>
            </table>
        </div>
    </section>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>