.mainByPick.wrapper {
    margin: 20px;
}

.second-section,
.third-section {
    padding: 20px;
    margin: 0 auto;
    max-width: 1200px;
}

.discountPrdLst .item-wrap,
.mainPrdLst .item-wrap {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
}

.item-list {
    flex: 1 0 21%; /* 21% 너비로 4개씩 배치 */
    margin: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
    overflow: hidden;
    text-align: center;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.item-list img {
    max-width: 100%;
    height: auto;
}

.item-list ul {
    padding: 10px;
    list-style: none;
    margin: 0;
}

.prd-brand,
.prd-price,
.prd-discount,
.prd-category,
.prd-review,
.prd-rating {
    margin: 5px 0;
}

.prd-brand {
    font-weight: bold;
}

.prd-preview {
    margin-top: 5px;
}

.prd-discount {
    color: red;
    font-weight: bold;
}

.prd-review,
.prd-rating {
    font-size: 0.9em;
    color: #777;
}
