<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>비밀번호 재확인</h1>
<form method="post">
    <table>
        <tr>
            <th>아이디</th>
            <td><input type="text" th:value="${userDto.id}" readonly /></td>
        </tr>
        <tr>
            <th>비밀번호</th>
            <td><input type="password" name="password" /></td>
        </tr>
    </table>
    <button>확인</button> <!-- 제출 버튼 추가 -->
</form>
</body>
</html>