<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품문의등록</title>

    <link rel="stylesheet" th:href="@{/css/board/addBoard.css}">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

</head>
<body>
    <div class="wrapper">
        <div class="header layout-5">
            <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
            <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
        </div>
    </div>
    <div class="main">
        <h2>상품 문의 작성</h2>
        <section class="first-section">
            <form>
                <input type="hidden" th:value="${pId != null ? pId : ''}" id="pId" name="Pid">
                <p>
                    <span>
                        <a th:href="${pId != null ? 'product?id=' + pId : 'product'}" th:text="${productName != null ? '문의 상품: ' + productName : ''}"></a>
                    </span>
                </p>
                <p>
                    <label for="isLocked">글잠금:</label>
                    <input type="checkbox" id="isLocked" name="isLocked" value="N">
                    <input type="password" id="password" name="password" placeholder="패스워드" disabled>
                </p>
                <p>
                    <span>
                        <input type="text" name="title" id="title" placeholder="제목을 입력하세요">
                    </span>
                </p>
                <p>
                    <textarea id="content" name="content" rows="10" cols="50" placeholder="본문을 입력하세요"></textarea>
                </p>

                <div class="button-container">
                    <button id="submit">작성</button>
                </div>
            </form>
        </section>
        <script defer th:src="@{/js/productInquiry/pwChkProcess.js}"></script>
        <script defer th:src="@{/js/productInquiry/formValidation.js}"></script>
    </div>
    <div id="footer">
        <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
    </div>
</body>
</html>