<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/productInquiryBoardDetail/productInquiryBoardDetail.css}">

    <title>상품문의 게시판 상세조회</title>
</head>
<body>
<div class="wrapper">
    <div class="header layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <div th:if="${response != null}">
                <div th:if="${response.success}">
                    <div th:with="productInquiryBoardDetail=${response}">
                        <p>
                            문의 상품명:
                            <a th:href="@{${'/product?id=' + (productInquiryBoardDetail.Pid)}}">
                                <span th:text="${productInquiryBoardDetail.productName}"></span>
                            </a>
                        </p>
                        <p>게시글 번호: <span id="boardId" th:text="${productInquiryBoardDetail.id != null ? productInquiryBoardDetail.id : ''}"></span></p>
                        <p>작성자: <span th:text="${productInquiryBoardDetail.Uid}"></span></p>
                        <p>제목: <span th:text="${productInquiryBoardDetail.title}"></span></p>
                        <p>글 내용: <span th:text="${productInquiryBoardDetail.content}"></span></p>
                        <p>작성일: <span th:text="${productInquiryBoardDetail.regDate}"></span></p>
                        <p>수정일: <span th:text="${productInquiryBoardDetail.updateDate}"></span></p>
                        <p>댓글 수: <span th:text="${productInquiryBoardDetail.commentCount}"></span></p>
                        <div class="button-container">
                            <form id="editForm" action="/updateProductInquiry" method="get">
                                <input type="hidden" name="boardId" id="formBoardId" th:value="${productInquiryBoardDetail.id != null ? productInquiryBoardDetail.id : ''}">
                                <button type="button" id="editBtn">수정</button>
                            </form>
                            <button id="deleteBtn">삭제</button>
                        </div>
                    </div>
                </div>
                <div th:if="${!response.success}">
                    <p>게시글 정보를 불러오는 데 실패했습니다. 다시 시도해 주세요.</p>
                </div>
            </div>
            <div th:if="${response == null}">
                <p>서버로의 요청에 실패했습니다.</p>
            </div>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/btnProcess.js}"></script>
        <section class="second-section">
            <h4>댓글</h4>
            <!-- 댓글이 들어가는 곳 -->
            <div id="comments-section">

            </div>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/productInquiryBoardDetailCommentProcess.js}"></script>
        <section class="third-section" id="comments-input-section" sec:authorize="hasRole('ROLE_ADMIN')">
            <form id="commentForm">
                <h2>댓글</h2>
                <label for="commentTitle">제목:</label>
                <input type="text" id="commentTitle" name="title" required>

                <label for="commentContent">내용:</label>
                <textarea id="commentContent" name="content" rows="4" cols="50" required></textarea>

                <button type="submit">작성</button>
            </form>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/postCommentProcess.js}"></script>
    </div>
    <div class="footer">
        <!-- Footer content -->
    </div>
</div>
</body>
</html>