<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">

    <title>상품문의 게시판 상세조회</title>
</head>
<body>
<div class="wrapper">
    <div class="header layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <div th:if="${response != null}">
                <div th:if="${response.success}">
                    <div class="board-info" th:with="productInquiryBoardDetail=${response}">

                        <div class="board-head">
                            <h5 class="title">
                                <span id="boardId" th:text="${productInquiryBoardDetail.id != null ? productInquiryBoardDetail.id : ''}" style="display: none;"></span>
                                <span class="title-head">[상품 문의]</span>
                                <span class="title-subject" th:text="${productInquiryBoardDetail.title}">-</span>
                            </h5>
                            <div class="board-writer">
                                <div class="fl">
                                    <span class="user-name" th:text="${productInquiryBoardDetail.Uid}">-</span>
                                    <span class="board-reg-date" th:text="${productInquiryBoardDetail.regDate}">-</span>
                                </div>
                                <div class="fr">
                                    <a href="#board-comment-list" class="board-comment" th:text="'댓글 ' + ${productInquiryBoardDetail.commentCount}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="board-contents">
                            <p class="inquiry-product">
                                <a th:href="@{${'/product?id=' + (productInquiryBoardDetail.Pid)}}">
                                    <span class="product-name" th:text="'상품: ' + ${productInquiryBoardDetail.productName}"></span>
                                </a>
                            </p>
                            <p>
                                <span th:text="${productInquiryBoardDetail.content}"></span>
                            </p>
                        </div>


                        <div class="button-container">
                            <form id="editForm" action="/updateProductInquiry" method="get">
                                <input type="hidden" name="boardId" id="formBoardId" th:value="${productInquiryBoardDetail.id != null ? productInquiryBoardDetail.id : ''}">
                                <button type="button" id="editBtn">수정</button>
                            </form>
                            <button id="deleteBtn">삭제</button>
                        </div>
                    </div>
                </div>
                <div th:if="${!response.success}">
                    <p>게시글 정보를 불러오는 데 실패했습니다. 다시 시도해 주세요.</p>
                </div>
            </div>
            <div th:if="${response == null}">
                <p>서버로의 요청에 실패했습니다.</p>
            </div>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/btnProcess.js}"></script>
        <section class="second-section" id="board-comment-list">
            <h4>답변 목록</h4>
            <!-- 댓글이 들어가는 곳 -->
            <div id="comments-section">

            </div>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/productInquiryBoardDetailCommentProcess.js}"></script>
        <section class="third-section" id="comments-input-section" sec:authorize="hasRole('ROLE_ADMIN')">
            <form id="commentForm">
                <h4>답변 달기</h4>
                <label for="commentTitle">제목:</label>
                <input type="text" id="commentTitle" name="title" required>

                <label for="commentContent">내용:</label>
                <textarea id="commentContent" name="content" rows="4" cols="50" required></textarea>
                <div class="comment-form-submit">
                    <button type="submit">작성</button>
                </div>
            </form>
        </section>
        <script th:src="@{/js/productInquiryBoardDetail/postCommentProcess.js}"></script>
    </div>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>