<!doctype html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>상품 리뷰 작성</title>

    <link rel="stylesheet" th:href="@{/css/productReview/addProductReview.css}">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <!-- fragments css -->
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
</div>
<div class="main">
    <h2>상품 리뷰 작성</h2>
    <section class="first-section">
        <div th:if="${success}">
            <form enctype="multipart/form-data" onsubmit="return false">
                <span>상품: <a th:href="@{'/product?id=' + ${product.id}}" th:text="${product.name}"></a></span>

                <span>제목: <input type="text" name="title" id="title" class="common-input"></span>

                <span>내용: <textarea id="content" name="content" rows="10" class="common-input"></textarea></span>

                <span>평점:
                    <select id="rating" name="rating" class="common-input">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </span>

                <span>이미지: <input type="file" name="image" id="image" class="common-input" accept="image/*"></span>

                <div class="button-container">
                    <button  id="review-submit" th:data-oid="${oId}" th:data-pid="${pId}">작성</button>
                </div>
            </form>


        </div>
        <div th:if="${!success}" class="error-message">
            <p th:text="${msg}"></p>
        </div>
    </section>
    <script defer th:src="@{/js/productReview/formValidation.js}"></script>
    <script defer th:src="@{/js/productReview/submitBtnProcess.js}"></script>
</div>
<div class="footer">

</div>
</body>
</html>
