<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">

    <title>상품리뷰 게시판 상세조회</title>
</head>
<body>
<div class="wrapper">
    <div class="header layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <div th:if="${response != null}">
                <div th:if="${response.success}">
                    <div class="board-info" th:with="productReviewBoardDetail=${response}">

                        <div class="board-head">
                            <h5 class="title">
                                <span id="boardId" th:text="${productReviewBoardDetail.id != null ? productReviewBoardDetail.id : ''}" style="display: none;"></span>
                                <span class="title-head">[상품 리뷰]</span>
                                <span class="title-subject" th:text="${productReviewBoardDetail.title}">-</span>
                            </h5>
                            <div class="board-writer">
                                <div class="fl">
                                    <span class="user-name" th:text="${productReviewBoardDetail.Uid}">-</span>
                                    <span class="board-reg-date" th:text="${productReviewBoardDetail.regDate}">-</span>
                                </div>
                                <div class="fr">
                                    <a href="javascript:void(0)" class="board-comment" th:text="'평점: ' + ${productReviewBoardDetail.rating}"></a>
                                </div>
                            </div>
                        </div>


                        <div class="board-contents">
                            <p class="inquiry-product">
                                <a th:href="@{${'/product?id=' + (productReviewBoardDetail.Pid)}}">
                                    <span class="product-name" th:text="'상품: ' + ${productReviewBoardDetail.productName}"></span>
                                </a>
                            </p>
                            <!-- 업로드된 이미지가 있을 때만 이미지를 보여줌 -->
                            <p th:if="${productReviewBoardDetail.get('imgPath') != null}"><img th:src="@{${productReviewBoardDetail.imgPath + '/' + productReviewBoardDetail.imgName}}" alt="업로드된 이미지"></p>
                            <p>
                                <span th:text="${productReviewBoardDetail.content}"></span>
                            </p>
                        </div>

                        <div class="button-container">
                            <button id="editBtn" th:data-id="${productReviewBoardDetail.id}">수정</button>
                            <button id="deleteBtn" th:data-id="${productReviewBoardDetail.id}">삭제</button>
                        </div>
                    </div>
                    <script defer th:src="@{/js/productReviewDetail/btnProcess.js}"></script>
                </div>
                <div th:if="${!response.success}">
                    <p>게시글 정보를 불러오는 데 실패했습니다. 다시 시도해 주세요.</p>
                </div>
            </div>
            <div th:if="${response == null}">
                <p>서버로의 요청에 실패했습니다.</p>
            </div>
        </section>
    </div>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>
