/* delivery.css */
.main {
    max-width: 1200px;
    margin: 20px auto;
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.container {
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

.payment-list {
    width: 100%;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    text-align: center;
}

.table th, .table td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table th {
    background-color: #f2f2f2;
}

.refund-request-btn {
    padding: 8px 12px;
    border: none;
    color: #fff;
    cursor: pointer;
    width: 100px; /* 버튼의 크기를 일정하게 맞춤 */
    height: 40px; /* 버튼의 높이를 일정하게 맞춤 */
    display: inline-block;
}

#accept-btn {
    background-color: #007bff;
}

#cancel-btn {
    background-color: red;
}

.pagination ul {
    list-style: none;
    padding: 0;
    text-align: center;
}

.pagination ul li {
    display: inline;
    margin: 0 5px;
}

.pagination ul li a {
    text-decoration: none;
    color: #333;
    padding: 5px 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

.pagination ul li a.active, .pagination ul li a:hover {
    background-color: #007bff;
    color: #fff;
}

.error-message {
    color: red;
    text-align: center;
    margin-top: 20px;
}
