<th:block th:fragment="mainManu_fragment">
    <div class="main-menu box w-400 h-800">

        <div class="user-info menu-section">
            <ul class="no-dot user-ul">
                <h2>상품 관리</h2>
                <li><a href="/admin/addProduct" class="no-text-line">상품 등록</a></li>
                <li><a href="/admin/productList" class="no-text-line">최근 등록된 상품</a></li>
            </ul>
        </div>

        <div class="product-info menu-section">
            <ul class="no-dot product-ul">
                <h2>구매 관리</h2>
                <li><a href="#" class="no-text-line">구매 현황</a></li>
            </ul>
        </div>

        <div class="board-info menu-section">
            <ul class="no-dot board-ul">
                <h2>게시물 관리</h2>
                <li><a href="/customerInquiryBoardList" class="no-text-line">고객문의</a></li>
                <li><a href="/productInquiryBoardList" class="no-text-line">상품문의</a></li>
                <li><a href="/productReviewBoardList" class="no-text-line">리뷰</a></li>
            </ul>
        </div>
    </div>
</th:block>