<th:block th:fragment="mainManu_fragment">
    <div class="admin-menu-container">
        <div>
            <h2>결제 관리</h2>
            <ul>
                <li th:class="${menu == 'deliveryList' ? 'selected' : ''}"><a href="/admin/payment/delivery">배송 현황</a></li>
                <li th:class="${menu == 'refundList' ? 'selected' : ''}"><a href="/admin/payment/refund">환불 현황</a></li>
            </ul>
        </div>

        <div>
            <h2>상품 관리</h2>
            <ul>
                <li th:class="${menu == 'addProduct' ? 'selected' : ''}"><a href="/admin/addProduct">상품 등록</a></li>
                <li th:class="${menu == 'productList' ? 'selected' : ''}"><a href="/admin/productList">최근 등록된 상품</a></li>
            </ul>
        </div>

        <div>
            <h2>게시물 관리</h2>
            <ul>
                <li><a href="/customerInquiryBoardList">고객문의</a></li>
                <li><a href="/productInquiryBoardList">상품문의</a></li>
                <li><a href="/productReviewBoardList">리뷰</a></li>
            </ul>
        </div>
    </div>
</th:block>