<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>아이디 찾기 폼</title>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
    <!-- js -->
    <script defer src="/js/user/findUserIdForm.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<h2>아이디 찾기</h2>
<form class="findUserId" name="findUserIdForm" method="post">
    <div>
        <input type="checkbox" id="findByEmail" name="findId" value="findIdByEmail" onclick="check(this)" checked>
        <label for="findByEmail">이메일로 아이디 찾기</label>
    </div>
    <div>
        <input type="checkbox" id="findByPhone" name="findId" value="findIdByPhone" onclick="check(this)">
        <label for="findByPhone">휴대폰번호로 아이디 찾기</label>
    </div>
    <div>
        <label for="name">이름</label>
        <input type="text" id="name" name="name" required>
    </div>
    <div id="emailDiv">
        <label for="email">이메일</label>
        <input type="email" id="email" name="email" required>
    </div>
    <div id="phoneDiv" class="hidden">
        <label for="phone">휴대폰번호</label>
        <input type="text" id="phone" name="phone">
    </div>
    <button class="findUserIdBtn">아이디 찾기</button>
</form>

</body>
</html>