<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>비밀번호 재발급 폼</title>
    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>
    <!-- js -->
    <script defer src="/js/user/findUserPasswordForm.js"></script>
    <!-- 아임포트 cdn -->
    <script src="https://cdn.iamport.kr/v1/iamport.js"></script>
    <style>
        .hidden {
            display: none;
        }
    </style>
</head>
<body>
<h2>비밀번호 재발급</h2>
<div class="formDiv">
    <form class="findUserPassword" name="findUserPasswordForm" method="post">
        <div>
            <input type="checkbox" id="findByEmail" name="findIdCheckBox" value="findIdByEmail" onclick="check(this)" checked>
            <label for="findByEmail">이메일로 비밀번호 재발급</label>
        </div>
        <div>
            <input type="checkbox" id="findByPhone" name="findIdCheckBox" value="findIdByPhone" onclick="check(this)">
            <label for="findByPhone">휴대폰 본인인증으로 비밀번호 재발급</label>
        </div>
        <div id="idDiv">
            <label for="id">아이디</label>
            <input type="text" id="id" name="id">
        </div>
        <div id="emailDiv">
            <label for="email">이메일</label>
            <input type="email" id="email" name="email">
        </div>
        <div id="nameDiv" class="hidden">
            <label for="name">이름</label>
            <input type="text" id="name" name="name">
        </div>
        <div id="phoneDiv" class="hidden">
            <button class="auth_btn">비밀번호 재발급</button>
        </div>
        <button class="findUserPasswordBtn">비밀번호 재발급</button>
    </form>
    <div id="passwordCheck" class="hidden">
        <label for="id">비밀번호 인증코드 입력</label>
        <input class="passwordCheck" type="text" name="passwordCheck">
        <button class="passwordCheckBtn">인증코드 인증</button>
    </div>
</div>
</body>
</html>