<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/cart/cartForm.css}">
    <link rel="stylesheet" href="../../static/css/cart/cartForm.css">
    <script defer src="/js/cart/cartForm.js"></script>
    <title>Title</title>
</head>
<body>
<div>
    <div>
        <table>
            <thead>
            <tr>
                <th>
                    <div>
                        <input class="ALL_checked" type="checkbox">
                    </div>
                </th>
                <th scope="col">
                    <div class="tb-center">사진</div>
                </th>
                <th scope="col">
                    <div class="tb-center">상품명</div>
                </th>
                <th scope="col">
                    <div class="tb-center">수량</div>
                </th>
                <th scope="col">
                    <div class="tb-center">재고</div>
                </th>
                <th scope="col">
<!--                    할인 적용 후 가격-->
                    <div class="tb-center">결제예정가</div>
                </th>
                <th scope="col">
                    <div class="tb-center">배송</div>
                </th>
                <th scope="col">
                    <div class="tb-center">선택</div>
                </th>
            </tr>
            </thead>
            <tfoot>
            <tr>
                <td colspan="8">
                    <div>
                        총 구매금액
<!--                        = <strong th:text="${carts.price}">11,760원</strong>-->
                    </div>
                    <!--공급사여부-->
                </td>
            </tr>
            </tfoot>
            <tbody>
            <tr th:each="cart : ${carts}">
                <td>
                    <div>
                        <input type="checkbox">
                    </div>
                </td>
                <td>
                    <div>
                        <div class="thumb">
                            <a th:href="@{/product(id=${cart.id})}"><img
                                    th:src="${cart.mainImgPath}" alt="상품 섬네일" title="상품 섬네일"></a>
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <a th:href="@{/product(id=${cart.id})}"> <th:block th:text="${cart.name}"></th:block></a>
<!--                        <div class="tb-opt">[옵션] 상품선택 : GAP 예가정성 대추방울 토마토 2kg <span-->
<!--                                class="MK_option_amount1357921_1">1</span>개-->
<!--                        </div>-->
                    </div>
                </td>
                <td>
                    <div>
                        <div>
                            <span class="btns"><a class="down" title="감소">-</a></span>
                                <input type="text" name="amount" th:value="${cart.quantity}" class="amount_value">
                            <span class="btns"><a class="up" title="증가">+</a></span>
                        </div>
                    </div>
                </td>
                <td>
<!--                    재고-->
                    <div><span class="product_amount" th:text="${cart.amount}">200</span></div>
                </td>
                <td>
<!--                    할인 후 가격-->
                    <div><span th:text="${cart.discountedPrice}">상품 할인된 가격</span>원</div>
                </td>
                <td>
                    <div>
                        <div>
                            <span>
                                <span>[기본배송]</span><span>무료</span>
                            </span>
<!--                            <div>-->
<!--                                <dl>-->
<!--                                    <dt>배송조건 : 기본배송(무료)</dt>-->
<!--                                    <dd>-->
<!--                                        주문금액에 상관없이 배송비가 <br><span>청구되지 않습니다.</span>-->
<!--                                    </dd>-->
<!--                                </dl>-->
<!--                                <span></span>-->
<!--                            </div>-->
                        </div>
                    </div>
                </td>
                <td>
                    <div>
                        <span><a href="#">찜하기</a></span>
                        <span><a href="#">삭제</a></span>
                    </div>
                </td>
            </tr>
            </tbody>
            <!--공급사여부-->
        </table>

    </div><!-- .table-fill-prd -->
    <!--공급사여부-->

    <div>
        <div><img src="/images/d3/modern_simple/basket_total_price.gif" alt="합계" title="합계">
        </div>
        <div><strong> 11,760원 = <b>11,760</b>원</strong></div>
    </div>
    <div>
        <div>
            <a href="/html/mainm.html">계속쇼핑하기</a>
            <a href="javascript:multi_order()" class="on">선택상품주문하기</a>
        </div>
    </div>
</div>
</body>
</html>