.admin-menu-detail-container {
    display: flex;
    flex-direction: column;
}

.product-image-container {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.image-registration-container {
    box-shadow: rgba(0, 0, 0, 0.08) 0px 2px 4px 0px, rgba(0, 0, 0, 0.16) 0px 0px 1px 0px;
    border: 1px solid #c6c6c6;
    border-radius: 5px;
    padding: 1rem;
}

.upload-box {
    margin-right: 1rem;
    position: relative;
    width: 300px;
    height: 500px;
    border: 2px dashed #b8b8b8;
}

.upload-box-text {
    font-size: 1.5rem;
    text-align: center;
    width: 100%;
    color: #b8b8b8;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.plus {
    font-size: 5rem;
}

.preview {
    height: 500px;
    margin: 10px auto;
    border: 1px solid black;

    display: flex;
    justify-content: center;
    align-items: center;
}

.preview .item {
    border: 0.0625rem solid #4a4a4a;
    margin: 0 0.5rem;
    padding: 0.5rem;
    position: relative;

    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.preview img {
    width: 430px;
    height: 430px;
    object-fit: cover;
}

.delete-btn {
    margin-left: 0.5rem;
    white-space: nowrap;
}

.product-info-container {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.product-info-container label {
    width: 130px;
}

#majorCategory {
    pointer-events: none; /* 요소가 마우스 이벤트에 반응하지 않음 */
}

footer {
    height: 100px;
    background-color: beige;
}