:root{
}
*{

}
body{
    margin :0px;
    padding :0px;
}

a{
    text-decoration:none;
    color : black;
}
ul{
    padding : 0px;
    list-style:none;
}
.layout-150{
    padding : 0px 250px ;
}

.top-header{
    width : 100%;


}
.wrapper{
}
.wrapper>.header{
}

/*
    top_header
*/

.top-header{

    font-size : .8rem;
    height : 35px;
    display:flex;
    justify-content : space-between;
    align-items : center;
    color : #808080 !important;
}

/*.top-header>.left>.notification{*/
/*    display:flex;*/
/*    justify-content : space-between;*/
/*    align-items : center;*/
/*}*/

.top-header>.left>.notification>.swiper{
    width : 100%;
    height : 35px;
}

.top-header>.left>.notification>.swiper>.swiper-wrapper{
    position:relative;
    top:0;
    bottom:0;
    margin : auto;
}
.top-header>.left>.notification>.swiper>.swiper-wrapper>.swiper-slide{
    display:flex;
    justify-content:center;
    align-items : center;

}
.top-header>.left>.notification>.swiper .swiper-button-prev::after,
.top-header>.left>.notification>.swiper .swiper-button-next::after{
    content : '';
}

.material-symbols-outlined{

}
.top-header>.right{

    height : 100%;
}

.top-header>.right>.info{
    height : 100%;
    display:flex;
    justify-content : space-between;
    align-items : center;
}
.top-header>.right>.info>ul{
    display:flex;
    justify-content : right;
    align-items :center;
    height : 100%;
    position:relative;
    top:0;
    bottom:0;
    margin : auto;

}
.top-header>.right>.info>ul>li{
    padding : 0px 20px;
    border-right : 1px solid ;
    text-align:center;

}

/*
   nav
*/
nav{
  font-size : .9rem;
  background-color : white !important;
  margin-bottom: 20px;
}
nav .nav-menu{

}


nav .nav-menu>li{

    text-align:center;
    width :100px;
    font-size : .8rem;
    position:relative;
    margin: 0 5px;
}
nav .nav-menu>li::after{
    display:block;
    content : "|";
    position:absolute;
    right: -5px;
    top : 5px;

}
nav .nav-menu>li>a{
 color : black !important;
}
nav .nav-menu>li>a::after{

}
nav .nav-menu>li .dropdown{
    text-align:center;
}
nav .nav-menu>li>a{
    height : 35px;
    width :100px;

    display:flex;
    justify-content : center;
    align-items : center;
}
nav .nav-menu>li .submenu{
    position:absolute;
    left:-15px;
    top:35px;
    padding : 5px;
    background-color : #2E2E2E;
    width :130px;
    margin : 0 auto;
    z-index : 5;
    display:none;
    color : white;
    font-size : .8rem;;

}
nav .nav-menu>li:hover .submenu{
    display:block;
}



.nav-container{
  display:flex;
  justify-content : space-between;
  align-items : end;
  padding : 0px !important;
  height : 100%;
  position:relative;
}
.nav-container>*{
    border : 1px solid white;
}
.nav-container>.left{
    width : 40%;
}
.center{
    width: 100%;
    display:flex;
    justify-content : center;
    align-items: center;
}
.banner-img{
    display:block;
    width : 200px;
    height : 70px;
}
.nav-container>.right{
    width : 40%;
    display:flex;
    justify-content : center;
    align-items: end;
}


.nav-container>.right>*{
    display:flex;
    justify-content : center;
    align-items : center;
}
.nav-container>.right>.search  input{
     width : 200px;
}
nav-container>.right .cart{
    display:flex;
    justify-content:center;
    align-items : end;

}
.nav-container>.right .material-symbols-outlined{
 font-variation-settings:
   'FILL' 0,
   'wght' 300,
   'GRAD' 0,
   'opsz' 12;
   font-size : 2.8rem;
   margin-left : 15px;
   position:relative;
}

.board{
    display:flex;
    justify-content : center;
    align-items : end;
    height : 100%;
    width : 100%;
}
.board>ul{
    display:flex;
    justify-content : center;
    align-items : end;
    margin : 0px;
    padding : 2px;
    height : 80px;
    width : 100%;

}
.board>ul>li{

    position:relative;
    padding : 5px;
    width : 150px;
    height : 50px;
    height : 35px;
    text-align:center;
    border-radius : 5px;
    border : 1px solid lightgray;
    box-shadow : 5px 5px 5px lightgray;
}
.board>ul>li>a{
    display:block;

}
.board>ul>li>.submenu{
    position:absolute;
    left:0px;
    top:35px;
    padding : 5px;

    background-color : #2E2E2E;
    width :150px;
    margin : 0 auto;
    z-index : 5;
    display:none;
    font-size : .8rem;
}
.board>ul>li>.submenu a{
    color : white !important
}
.board>ul>li>.submenu li{
    height : 35px;

    display:flex;
    justify-content : center;
    align-items : center;
}
.board>ul>li:hover .submenu{
    display:block;
}


.board>ul>li:hover .dropdown{
    display:block;
}

.main h4{
    margin : 15px 0;
    padding : 15px;
    text-align:center;
    color : black;
}


.discountPrdLst{}
.discountPrdLst>{}

.item-list>.thumb{
    width :100%;
    height : 300px;
    border : 1px solid #808080;
}

.item-list>.thumb img{
    width : 100%;
    height : 100%;
    object-fit: cover;
    display: block;
}

/*
    section1-banner
*/
.wrapper>.main{}
.wrapper>.main>section.banner{}
.wrapper>.main>section.banner>.swiper{
    width : 100%;
}

.wrapper>.main>section.banner>.swiper .swiper-slide{
    display:flex;
    justify-content : center;
    align-items : center;
}

/*
    second-section
*/
.item-list{}
.item-list .prd-info{
    padding : 5px;
    position:relative;
}
.item-list .prd-info>ul>li.prd-brand{
    font-weight : 400;
    font-size : 1rem;
    display:flex;
    justify-content:left;
    align-items : center;
    margin-bottom : 15px;
}
.item-list .prd-info>ul>li.prd-brand>a{}
.item-list .prd-info>ul>li.prd-price{
    font-size : .8rem;
    display:flex;
    justify-content:left;
    align-items : center;
}
.item-list .prd-info>ul>li.prd-price>b{
    text-decoration:line-through;
}

.item-list .prd-info>ul>li.prd-discount{
    font-size : 1rem;
    display:flex;
    justify-content:left;
    align-items : center;
    font-weight : 400;
    margin-bottom : 25px;
}
.item-list .prd-info>ul>li.prd-category{
    font-size : .7rem;
    display:flex;
    justify-content:left;
    align-items : center;
    font-weight : 400;
}
.item-list .prd-info>ul>li.prd-review{
    font-size : .7rem;
    position:absolute;
    bottom:5px;
    right:10px;
}
.item-list .prd-info>ul>li.prd-rating{
    font-size : .7rem;
    position:absolute;
    bottom:25px;
    right:10px;
}
.item-list{}
.item-list{}
