#zipcode, #streetAdr {
    pointer-events: none;
}

.my-page-menu-detail-container {
    max-width: 800px;
}

#editAddressForm {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.button-container {
    display: flex;
    justify-content: right;
}

.button-container button {
    width: 5.5rem !important;
}

#editAddressForm label {
    display: block;
}

#editAddressForm input {
    width: 100%;
}

#editAddressForm button {
    width: 200px;
    padding: 0.5rem 1rem;
    background-color: #4cae4c;
    color: #e8e8e8;
}

#editAddressForm > button:hover {
    background-color: #439a46;
}

#searchAddressBtn {
    width: 200px;
    padding: 0.5rem 1rem;
    margin-left: 1rem;
    border: none;
    background-color: #4cae4c;
    color: #e8e8e8;
}

#searchAddressBtn:hover {
    background-color: #439a46;
}