.modifyForm {
    width: 600px;
    display: flex;
    flex-direction: column;

    margin: 0 auto;
}

.form-group {
    margin-bottom: 10px;
}

label {
    font-weight: bold;
    display: block;
    font-size: 16px;
    color: #666;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
}

input[type="password"]::placeholder {
    color: #999;
}

button[name="searchAddressBtn"] {
    width: 200px;
    margin-left: 0.5rem;
}

button[name="searchAddressBtn"],
.modifyBtn {
    padding: 10px 20px;
    background-color: #4cae4c;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    font-size: 16px;
}

button[name="searchAddressBtn"]:hover,
.modifyBtn:hover {
    background-color: #439a46;
}

.spanError {
    color: red;
    font-size: 14px;
}