.main > .contentWrapper {
    margin: 0 auto;
    position: relative;
    width: 1200px;
}

.main > .contentWrapper > .repassWordContent {
    padding: 60px 60px 120px;
}

.txt {
    margin-top: 15px;
    color: #666;
    font-size: 24px;
    line-height: 1.5;
    letter-spacing: -1px;
    text-align: center;
}
#password-form {
    padding: 20px;
}

.password-chk {
    width: 100%;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    background-color: #f9f9f9;
}

tbody, td, tfoot, th, thead, tr {
    padding: 15px 0 15px 90px;
}

.id,
.password {
    padding: 10px;
    text-align: center;
    box-sizing: border-box;
}

tr > th {
    text-align: right;
}

.passwordCheckBtn {
    display: inline-block;
    padding: 10px 40px;
    background-color: green;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
}

.passwordCheckBtn:hover {
    background-color: darkgreen;
}

.cancel {
    display: inline-block;
    padding: 10px 40px;
    background-color: #6c757d;
    color: #fff;
    border: none;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 20px;
    margin-left: 10px;
}

.cancel:hover {
    background-color: #495057;
    color: white;
}

#btn {
    text-align: center;
    padding: 20px;
}




