/* paymentList.css */
.container {
    width: 100%;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.first-container h1 {
    text-align: left;
    margin-bottom: 3.6rem;
    font-weight: bold;
    color: #4CAF50;
}

.payment-list .title {
    text-align: left !important;
}

.shopping-title {
    padding: 20px 20px 0;
    margin-bottom: 10px;
}

.payment-list table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.payment-list th, .payment-list td {
    padding: 12px;
    border: 1px solid #ddd;
    text-align: center;
}

.payment-list th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.payment-list td a {
    color: #007bff;
    text-decoration: none;
}

.payment-list td a:hover {
    text-decoration: underline;
}

.delivery-status {
    color: #28a745;
    font-weight: bold;
}

.refund-request-btn {
    padding: 8px 12px;
    font-size: 14px;
    color: #fff;
    background-color: #dc3545;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 100px; /* 버튼 너비 고정 */
}

.refund-request-btn:hover {
    background-color: #c82333;
}

.pagination {
    text-align: center;
    margin-top: 4rem;
}
.pagination ul {
    list-style-type: none;
    padding: 0;
}
.pagination ul li {
    display: inline;
    margin: 0 5px;
}
.pagination ul li a {
    display: inline-block;
    background-color: #f9f7f8;
    color: #666;
    border-radius: 0;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid #ddd;
}
.pagination ul li a:hover {
    text-decoration: none;
    color: #666;
    border: 1px solid black;
}
.pagination ul li.active a {
    color: #fff;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
}

.error-message {
    color: red;
    font-weight: bold;
}
