<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>쇼핑몰</title>
    <link rel="stylesheet" th:href="@{/css/index/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">
</head>
<body>
<div class="wrapper">
    <div class="header">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <h1>인덱스 화면입니다.</h1> <br>
            <hr>
            <div class="product-total-search">
                <form action="/productList" method="GET">
                    <h2>통합 검색</h2>
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
                    <button type="submit">검색</button>
                </form>
            </div>
        </section>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>
