<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
    <meta charset="UTF-8">
    <title>쇼핑몰</title>

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>


    <!-- index css -->
    <link rel="stylesheet" th:href="@{/css/index/common.css}">
    <link rel="stylesheet" th:href="@{/css/index/popularProducts.css}">
    <link rel="stylesheet" th:href="@{/css/index/hightDiscountProducts.css}">
    <link rel="stylesheet" th:href="@{/css/index/recentProducts.css}">

    <!-- fragments css -->
    <link rel="stylesheet" th:href="@{/css/fragments/common.css}">
    <link rel="stylesheet" th:href="@{/css/fragments/nav.css}">
</head>
<body>
<div class="wrapper">
    <div class="header  layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <h1>인덱스 화면입니다.</h1> <br>
            <hr>
            <div class="product-total-search">
                <form action="/productList" method="GET">
                    <h2>통합 검색</h2>
                    <input type="text" name="keyword" placeholder="검색어를 입력하세요" />
                    <button type="submit">검색</button>
                </form>
            </div>
        </section>
        <section class="second-section">
            <div class="mainDiscountPick wrapper">
                <h2>할인 상품</h2>
                <div class="discountPrdLst" id="discount-product-list">
                    <div class="item-wrap">
                        <!-- 할인 상품 리스트 아이템들 -->
                    </div>
                </div>
            </div>
        </section>
        <script defer th:src="@{/js/index/hightDiscountProductsProcess.js}"></script>
        <section class="third-section">
            <div class="mainByPick wrapper">
                <h2>카테고리별 인기상품</h2>
                <div class="mainPrdTab">
                    <h5 class="on" id="tle_1"><a href="#tablist_1">전체</a></h5>
                    <h5 id="tle_2"><a href="#tablist_2">쌀/잡곡</a></h5>
                    <h5 id="tle_3"><a href="#tablist_3">과일/채소</a></h5>
                    <h5 id="tle_4"><a href="#tablist_4">축산물</a></h5>
                    <h5 id="tle_5"><a href="#tablist_5">건강식품</a></h5>
                    <h5 id="tle_6"><a href="#tablist_6">가공식품</a></h5>
                </div>
                <div class="mainPrdLst first" id="tablist_1" style="display: block;">
                    <div class="item-wrap">
                        <!-- 전체 상품 리스트 아이템들 -->
                    </div>
                </div>
                <div class="mainPrdLst" id="tablist_2">
                    <div class="item-wrap">
                        <!-- 쌀/잡곡 상품 리스트 아이템들 -->
                    </div>
                </div>
                <div class="mainPrdLst" id="tablist_3">
                    <div class="item-wrap">
                        <!-- 과일/채소 상품 리스트 아이템들 -->
                    </div>
                </div>
                <div class="mainPrdLst" id="tablist_4">
                    <div class="item-wrap">
                        <!-- 축산물 상품 리스트 아이템들 -->
                    </div>
                </div>
                <div class="mainPrdLst" id="tablist_5">
                    <div class="item-wrap">
                        <!-- 건강식품 상품 리스트 아이템들 -->
                    </div>
                </div>
                <div class="mainPrdLst" id="tablist_6">
                    <div class="item-wrap">
                        <!-- 가공식품 상품 리스트 아이템들 -->
                    </div>
                </div>
            </div>
        </section>
        <script defer th:src="@{/js/index/popularProductsProcess.js}"></script>

        <section class="fourth-section">
            <div class="mainByPick wrapper">
                <h2>최신 상품</h2>
                <div class="recentPrdLst" id="recent-product-list">
                    <div class="item-wrap">
                        <!-- 최신 상품 리스트 아이템들 -->
                    </div>
                </div>
            </div>
        </section>
        <script defer th:src="@{/js/index/recentProductsProcess.js}"></script>
    </div>
    <div class="footer">

    </div>
</div>
</body>
</html>
