<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

    <link rel="stylesheet" th:href="@{/css/board/boardDetail.css}">

    <title>고객문의 게시판 상세조회</title>

</head>
<body>
<div class="wrapper">
    <div class="header layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
    <div class="main">
        <section class="first-section">
            <div th:if="${response != null}">
                <div th:if="${response.success}">
                    <div class="board-info" th:with="customerInquiryBoardDetail=${response}">
                        <div class="board-head">
                            <h5 class="title">
                                <span id="boardId" th:text="${customerInquiryBoardDetail.id != null ? customerInquiryBoardDetail.id : ''}" style="display: none;"></span>
                                <span class="title-head">[고객 문의]</span>
                                <span class="title-subject" th:text="${customerInquiryBoardDetail.title}">-</span>
                            </h5>
                            <div class="board-writer">
                                <div class="fl">
                                    <span class="user-name" th:text="${customerInquiryBoardDetail.Uid}">-</span>
                                    <span class="board-reg-date" th:text="${customerInquiryBoardDetail.regDate}">-</span>
                                </div>
                                <div class="fr">
                                    <a href="#board-comment-list" class="board-comment" th:text="'댓글 ' + ${customerInquiryBoardDetail.commentCount}"></a>
                                </div>
                            </div>
                        </div>

                        <div class="board-contents">
                            <!-- 업로드된 이미지가 있을 때만 이미지를 보여줌 -->
                            <p th:if="${customerInquiryBoardDetail.get('imgPath') != null}"><img th:src="@{${customerInquiryBoardDetail.imgPath + '/' + customerInquiryBoardDetail.imgName}}" alt="업로드된 이미지"></p>
                            <p>
                                <span th:text="${customerInquiryBoardDetail.content}"></span>
                            </p>
                        </div>

                        <!-- 수정 및 삭제 버튼 추가 -->
                        <div class="button-container">
                            <button id="editBtn">수정</button>
                            <button id="deleteBtn">삭제</button>
                        </div>
                    </div>
                </div>
                <div th:if="${!response.success}">
                    <p>게시글 정보를 불러오는 데 실패했습니다. 다시 시도해 주세요.</p>
                </div>
            </div>
            <div th:if="${response == null}">
                <p>서버로의 요청에 실패했습니다.</p>
            </div>
        </section>
        <script defer th:src="@{/js/customerInquiryBoardDetail/btnProcess.js}"></script>
        <section class="second-section" id="board-comment-list">
            <h4>답변 목록</h4>
            <!-- 댓글이 들어가는 곳 -->
            <div id="comments-section">

            </div>
        </section>
        <script defer th:src="@{/js/customerInquiryBoardDetail/customerInquiryBoardDetailCommentProcess.js}"></script>
        <section class="third-section" id="comments-input-section" sec:authorize="hasRole('ROLE_ADMIN')">
            <form id="commentForm" enctype="multipart/form-data">
                <h4>답변달기</h4>
                <label for="commentTitle">제목:</label>
                <input type="text" id="commentTitle" name="title" required>

                <label for="commentContent">내용:</label>
                <textarea id="commentContent" name="content" rows="4" cols="50" required></textarea>

                <label for="commentImage">첨부 이미지:</label>
                <input type="file" name="image" id="commentImage" accept="image/*">

                <div class="comment-form-submit">
                    <button type="submit">작성</button>
                </div>
            </form>
        </section>
        <script th:src="@{/js/customerInquiryBoardDetail/postCommentProcess.js}"></script>
    </div>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>
