<!doctype html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>고객 문의 수정</title>

    <link rel="stylesheet" th:href="@{/css/board/editBoard.css}">

    <!--  cdns  -->
    <th:block th:insert="~{fragments/link.html :: link_fragment}"></th:block>

</head>
<body>
<div class="wrapper">
    <div class="header layout-5">
        <th:block th:insert="~{fragments/topHeader.html :: topHeader_fragment}"></th:block>
        <th:block th:insert="~{fragments/nav.html :: nav_fragment}"></th:block>
    </div>
</div>
<div class="main">
    <h2>고객 문의 수정</h2>
    <section class="first-section">
        <div th:if="${success}">
            <form id="editForm" enctype="multipart/form-data">
                <input type="hidden" name="id" id="id" th:value="${board.id}"/>

                <p>
                    <input type="text" name="title" id="title" th:value="${board.title}" placeholder="제목을 입력하세요">
                </p>

                <p>
                    <textarea id="content" name="content" rows="10" cols="50" th:text="${board.content}" placeholder="내용을 입력하세요"></textarea>
                </p>

                <div class="board-img" th:if="${board.get('imgPath') != null}">
                    <p>등록된 이미지: </p>
                    <p>
                        <img th:src="${board.imgPath + '/' + board.imgName}" alt="현재 이미지" style="max-width: 200px;">
                    </p>
                    <input type="checkbox" id="deleteImage" name="deleteImage" value="true"> 기존 이미지 삭제 <br/>
                </div>

                <p>
                    <span>등록할 이미지: </span>
                    <input type="file" name="image" id="image" accept="image/*">
                </p>

                <div class="button-container">
                    <button id="submit">수정</button>
                </div>
            </form>
        </div>
        <div th:if="${!success}">
            <p th:text="${msg}"></p>
            <a th:href="@{/customerInquiryBoardList}">목록으로 돌아가기</a>
        </div>
    </section>
    <script defer th:src="@{/js/customerInquiry/formValidation.js}"></script>
    <script defer th:src="@{/js/customerInquiry/editSubmitBtnProcess.js}"></script>
</div>
<div id="footer">
    <th:block th:insert="~{fragments/footer.html :: footer_fragment}"></th:block>
</div>
</body>
</html>
