.first-section {
    background-color: #f9f9f9;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    max-width: 500px;
    margin: 20px auto; /* 기존 코드를 유지하고 상단에 20px 마진 추가 */
    text-align: center;
}

.first-section h1 {
    font-size: 24px;
    color: #333;
    margin-bottom: 20px;
}

.first-section p {
    margin-bottom: 15px;
}

.first-section .input-password {
    width: calc(100% - 22px);
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.first-section button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    background-color: #5cb85c;
    color: white;
    cursor: pointer;
    margin-top: 10px;
}

.first-section button:hover {
    background-color: #4cae4c;
}
