/* 리뷰 목록 섹션 스타일 */
.third-section {
    margin-top: 100px;
    padding: 20px;
    background-color: white;
    border-top: 1px solid #e0e0e0;
    border-radius: 10px;
}

.productInquiry-list {
    max-width: 800px;
    margin: 0 auto;
}

.productInquiry-list h2 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 20px;
    color: #333;
}

.productInquiry-table {
    border-top: black solid 2px;
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 30px;
}

.productInquiry-table th, .productInquiry-table td {
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.productInquiry-table th {
    background-color: #f1f1f1;
    font-weight: bold;
    text-align: center;
    color: #555;
}

.productInquiry-table tr:nth-child(even) {
    background-color: #f9f9f9;
}

.productInquiry-table td {
    color: #666;
    text-align: center;
}
.productInquiry-content {
    text-align: left!important;
    padding-left: 80px!important;
    padding-right: 80px!important;
}

.pagination {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    gap: 10px;
}

.pagination li {
    margin: 0;
}

.pagination a {
    display: inline-block;
    background-color: #f9f7f8;
    color: #666;
    border-radius: 0;
    font-size: 14px;
    border: 1px solid #ddd;
}

.pagination a:hover {
    border: 1px solid black;
    color: #666;
    background-color: #f9f7f8;
}

.pagination a:disabled {
    background-color: #cccccc;
    cursor: not-allowed;
    box-sizing: unset;
}

.pagination .active a {
    color: #fff;
    background-color: #4CAF50;
    font-weight: normal;
    border: 1px solid #4CAF50;
    box-sizing: unset;
}

.active {

}
