.main {
    margin: 20px auto;
    padding: 20px;
    max-width: 800px;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    border-radius: 10px;
}

.first-section {
    margin-bottom: 20px;
}

.first-section p {
    margin-bottom: 15px;
    font-size: 16px;
}

.first-section p a {
    text-decoration: none;
    color: #007bff;
}

.button-container {
    display: flex;
    justify-content: flex-start;
    gap: 10px;
}

.button-container button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#edit-btn {
    background-color: #007bff;
}

#edit-btn:hover {
    background-color: #0056b3;
}

#delete-btn {
    background-color: #ff0000;
}

#delete-btn:hover {
    background-color: #cc0000;
}
