/* 기본 스타일링 */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

.main {
}

.main .container {
    width: 80%;
    margin: 0 auto;
    margin-top: 85px;
}

.main .container h1 {
    font-weight: 750;
    color: #4CAF50;
    margin-bottom: 65px;
}

.main .container button[type='submit'] {
    margin-bottom: 20px;
    width: 65px;
    background-color: #4CAF50;
    font-weight: bold;
    text-align: center;
    cursor: pointer;

}

.main .container button[type='submit']:hover {
    background-color: #45a049;
}

form {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.form-group {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

label {
    margin-right: 10px;
}

input[type="text"], select {
    padding: 8px;
    box-sizing: border-box;
    margin-right: 10px;
}

button {
    padding: 10px;
    background-color: #007bff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #0056b3;
}

table, .table-container {
    width: 100%;
    border-collapse: collapse;
}

table, th, td, .table-container th, .table-container td {
    border: 1px solid #ddd;
    padding: 8px;
}

.table-container th {
    background-color: #f2f2f2;
    text-align: center;
    font-weight: bold;
    align-content: center;
}

.table-container td {
    text-align: center;
    align-content: center;
}

.table-container .title {
    text-align: left;
}

.pagination {
    text-align: center;
    margin-top: 4rem;
}
.pagination ul {
    list-style-type: none;
    padding: 0;
}
.pagination ul li {
    display: inline;
    margin: 0 5px;
}
.pagination ul li a {
    display: inline-block;
    background-color: #f9f7f8;
    color: #666;
    border-radius: 0;
    font-size: 14px;
    padding: 8px 16px;
    border: 1px solid #ddd;
}
.pagination ul li a:hover {
    text-decoration: none;
    color: #666;
    border: 1px solid black;
}
.pagination ul li.active a {
    color: #fff;
    border: 1px solid #4CAF50;
    background-color: #4CAF50;
}

.error-message {
    color: red;
    text-align: center;
}

.product-name {
    display: block;
    font-size: 0.9em;
    color: green;
}

.post-title {
    display: block;
    font-size: 1em;
    font-weight: bold;
}

#keyword {
    font-size: 12px;
    width: 200px;
}

#keyword-submit {
    height: 40px;
    width: 75px;
}

.main .productInquiryBoard-list {
    margin-top: 50px;
}

.main .boardList {
    margin-top: 50px;
}

.main .comment-check {
    margin-right: 20px;
}

.main .form-group label {
    margin-right: 10px;
    font-size: 24px;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}

.form-group label {
    margin-right: 10px;
    font-size: 16px;
    font-weight: bold;
    color: #333;
}

.form-group select {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    color: #333;
    outline: none;
    transition: border-color 0.3s;
}

.form-group select:focus {
    border-color: #007bff;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.button-container {
    text-align: right;
    margin: 20px 0;
}

.button-container button {
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
}

.button-container button:hover {
    background-color: #0056b3;
}
