<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.CartItemMapper">
    <insert id="insertCartItem" parameterType="map">
        INSERT INTO cart_items (id, Cart_Id, Pid, quantity)
        VALUES (null, #{cartId}, #{productId}, #{quantity})
    </insert>
    <select id="findProductIdByCartId" parameterType="int" resultType="int">
        SELECT Pid
        FROM cart_items
        WHERE Cart_Id = #{cartId}
    </select>
    <select id="findQuantityByProductId" parameterType="int" resultType="int">
        SELECT quantity
        FROM cart_items
        WHERE Pid = #{productId}
    </select>
    <select id="findIdByProductIdAndCartId" parameterType="map" resultType="int">
        SELECT id
        FROM cart_items
        WHERE Pid = #{productId} AND Cart_id = #{cartId}
    </select>
    <update id="updateCartItem" parameterType="map">
        UPDATE cart_items
        SET quantity = #{sumQuantity}
        WHERE id = #{cartItemId}
    </update>
    <select id="findProductListById" parameterType="int" resultType="map">
        SELECT
            p.id,
            p.name,
            p.price,
            p.discountedPrice,
            p.discount,
            p.amount,
            p.majorCategory,
            p.middleCategory,
            p.content,
            p.regDate,
            p.updateDate,
            p.mainImgPath,
            p.mainImgName,
            p.subImgPath,
            p.subImgName,
            ci.id AS cart_item_id,
            ci.cart_id,
            ci.quantity
        FROM product p
                 JOIN cart_items ci ON p.id = ci.Pid
        WHERE ci.Pid = #{productIdByCartId}
    </select>
</mapper>