<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.CartMapper">
    <!-- Insert Cart -->
    <insert id="insertCart" useGeneratedKeys="true">
        INSERT INTO cart()
        VALUES ()
    </insert>

    <insert id="insertCartByUserId">
        INSERT INTO cart(id, Uid)
        VALUES (null, #{userId})
    </insert>

    <select id="findCartIdByUserId" parameterType="string" resultType="integer">
        SELECT id
        FROM cart
        WHERE Uid = #{userId}
    </select>
</mapper>