<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.CartItemMapper">
    <insert id="insertCartItem" parameterType="map">
        INSERT INTO cart_items (id, Cart_Id, Pid, quantity)
        VALUES (null, #{cartId}, #{productId}, #{quantity})
    </insert>
</mapper>