<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.CartItemMapper">
    <insert id="insertCartItem" parameterType="map">
        INSERT INTO cart_items (id, Cart_Id, Pid, quantity)
        VALUES (null, #{cartId}, #{productId}, #{quantity})
    </insert>
    <select id="findProductIdByCartId" parameterType="int" resultType="int">
        SELECT Pid
        FROM cart_items
        WHERE Cart_Id = #{cartId}
    </select>
    <select id="findQuantityByProductIdAndCardId" parameterType="map" resultType="Integer">
        SELECT quantity
        FROM cart_items
        WHERE Pid = #{productId} AND Cart_Id = #{cartId}
    </select>
    <select id="findIdByProductIdAndCartId" parameterType="map" resultType="int">
        SELECT id
        FROM cart_items
        WHERE Pid = #{productId} AND Cart_id = #{cartId}
    </select>
    <update id="updateAddSumQuantityByCartItem" parameterType="map">
        UPDATE cart_items
        SET quantity = #{sumQuantity}
        WHERE id = #{cartItemId}
    </update>
    <select id="findProductListById" parameterType="String" resultType="map">
        SELECT
            ci.quantity,
            ci.Cart_Id,
            p.name,
            p.price,
            p.discountedPrice,
            p.discount,
            (ci.quantity * IFNULL(p.discountedPrice, p.price)) AS total_price_per_item,
            p.id,
            p.majorCategory,
            p.middleCategory,
            p.content,
            p.regDate,
            p.amount,
            p.updateDate,
            p.mainImgPath,
            p.mainImgName,
            p.subImgPath,
            p.subImgName,
            (
                SELECT SUM(ci.quantity * IFNULL(p.discountedPrice, p.price))
                FROM cart_items ci
                         JOIN cart c ON ci.Cart_Id = c.id
                         JOIN product p ON ci.Pid = p.id
                WHERE c.Uid = #{userId}
            ) AS total_amount
        FROM
            cart_items ci
                JOIN
            cart c ON ci.Cart_Id = c.id
                JOIN
            product p ON ci.Pid = p.id
        WHERE
            c.Uid = #{userId};
    </select>
    <update id="updateQuantityByCartIdAndProductId" parameterType="map">
        UPDATE cart_items
        SET quantity = #{amountValue}
        WHERE Cart_Id = #{cartId} AND Pid = #{productId}
    </update>

    <delete id="deleteCartItemByCartIdAndProductId">
        DELETE FROM cart_items
        WHERE Cart_id = #{cartId} AND Pid = #{productId}
    </delete>
</mapper>