<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.CustomerInquiryBoardCommentMapper">
    <select id="findCommentsByCustomerInquiryBoardId" resultType="map" parameterType="Integer">
        SELECT
        *
        FROM customer_inquiry_comment cibc
        WHERE cibc.C_Board_Id = #{id}
        ORDER BY cibc.updateDate DESC, cibc.regDate DESC
    </select>
</mapper>
