<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.app.shopping.domain.mapper.ProductMapper">
    <select id="selectItemsCount" parameterType="com.example.app.shopping.domain.dto.common.Criteria" resultType="int">
        SELECT COUNT(*)
        FROM product p
        <where>
            <if test="criteria != null">
                <if test="criteria.keyword != null and criteria.keyword != ''">
                    AND (p.name LIKE CONCAT('%', #{criteria.keyword}, '%'))
                </if>
                <if test="criteria.majorCategory != null and criteria.majorCategory != ''">
                    AND p.majorCategory = #{criteria.majorCategory}
                </if>
                <if test="criteria.middleCategory != null and criteria.middleCategory != ''">
                    AND p.middleCategory = #{criteria.middleCategory}
                </if>
            </if>
        </where>
    </select>

    <select id="selectItems" parameterType="map" resultType="map">
        SELECT
        p.id,
        p.name,
        p.price,
        p.amount,
        p.saleAmount,
        p.discount,
        p.majorCategory,
        p.middleCategory,
        p.regDate,
        p.updateDate,
        p.mainImgPath,
        p.mainImgName,
        COUNT(r.id) AS reviewCount,
        AVG(r.rating) AS averageRating
        FROM
        product p
        LEFT JOIN
        productreviewboard r ON p.id = r.Pid
        <where>
            <if test="criteria.keyword != null and criteria.keyword != ''">
                AND (p.name LIKE CONCAT('%', #{criteria.keyword}, '%'))
            </if>
            <if test="criteria.majorCategory != null and criteria.majorCategory != ''">
                AND p.majorCategory = #{criteria.majorCategory}
            </if>
            <if test="criteria.middleCategory != null and criteria.middleCategory != ''">
                AND p.middleCategory = #{criteria.middleCategory}
            </if>
        </where>
        GROUP BY
        p.id
        ORDER BY
        <choose>
            <when test="criteria.sorting == '가격 내림차순'">
                p.price DESC ,p.saleAmount DESC, averageRating DESC
            </when>
            <when test="criteria.sorting == '가격 오름차순'">
                p.price ASC ,averageRating DESC, p.saleAmount DESC
            </when>
            <otherwise>
                p.saleAmount DESC, averageRating DESC
            </otherwise>
        </choose>
        LIMIT #{offset}, #{criteria.amount}
    </select>

    <select id="selectDistinctMajorCategoryList" resultType="String">
        SELECT DISTINCT majorCategory
        FROM product
    </select>
</mapper>
