<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.app.shopping.domain.mapper.ProductReviewBoardMapper">
    <select id="findProductReviewBoardsCount" parameterType="map" resultType="int">
        SELECT
        COUNT(*)
        FROM product_review_board prb
        <where>
            <if test="criteria != null">
                <if test="criteria.keyword != null and criteria.keyword != ''">
                    AND (prb.title LIKE CONCAT('%', #{criteria.keyword}, '%'))
                </if>
                <if test="pId != null and pId != ''">
                    AND prb.Pid = #{pId}
                </if>
                <if test="productName != null and productName != ''">
                    AND prb.Pid IN (SELECT p.id FROM Product p WHERE p.name LIKE CONCAT('%', #{productName}, '%'))
                </if>
            </if>
        </where>
    </select>

    <select id="findProductReviewBoards" parameterType="map" resultType="map">
        SELECT
        prb.id,
        prb.Uid,
        prb.Pid,
        p.name AS productName,
        prb.title,
        prb.content,
        prb.imgPath,
        prb.imgName,
        prb.regDate,
        prb.updateDate,
        prb.rating
        FROM product_review_board prb
        JOIN
        product p ON prb.Pid = p.id
        <where>
            <if test="criteria != null">
                <if test="criteria.type != null and criteria.type != ''">
                    <if test="criteria.type != null and criteria.type == 'title'">
                        AND (prb.title LIKE CONCAT('%', #{criteria.keyword}, '%'))
                    </if>

                    <if test="criteria.type != null and criteria.type == 'pId' and pId != null">
                        AND prb.Pid = #{pId}
                    </if>

                    <if test="criteria.type != null and criteria.type == 'productName' and productName != null">
                        AND prb.Pid IN (SELECT p.id FROM Product p WHERE p.name LIKE CONCAT('%', #{productName}, '%'))
                    </if>
                </if>
                <if test="criteria.type == null or criteria.type == ''">
                    <if test="pId != null and pId != ''">
                        AND prb.Pid = #{pId}
                    </if>
                </if>
            </if>
        </where>
        GROUP BY
        prb.id
        ORDER BY
        prb.updateDate DESC,
        prb.regDate DESC
        LIMIT #{offset}, #{criteria.amount}
    </select>

    <select id="findProductReviewBoardById" parameterType="Integer" resultType="map">
        SELECT
        prb.id,
        prb.Uid,
        prb.Pid,
        p.name AS productName,
        prb.title,
        prb.content,
        prb.imgPath,
        prb.imgName,
        prb.regDate,
        prb.updateDate,
        prb.rating
        FROM product_review_board prb
        JOIN
        product p ON prb.Pid = p.id
        WHERE prb.id = #{id}
        GROUP BY
        prb.id
    </select>
</mapper>
